html {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    #86aea4 0%,
    #83cd76 90%
  );
}
html,
html * {
  color: white;
  font-family: "Roboto Condensed", sans-serif;
  box-sizing: border-box;
}
body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
main {
  background: white;
  border-radius: 5px;
  width: 65vw;
  margin: 30px auto;
  padding: 40px;
}
main * {
  color: black;
}

.hide {
  visibility: hidden;
  display: none;
}
